@font-face {
  font-family: internet_friends;
  src: url(/Internet\Friends.ttf);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(design.png);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140vw; 
  text-align: center;
}

@media (min-width: 460px) {
  body {
    background-size: 110vw;
  }
}

@media (min-width: 1100px) {
  body {
    background-size: 100vw;
  }
}

@media (min-width: 1300px) {
  body {
    background-size: 90vw;
  }
}

@media (min-width: 1400px) {
  body {
    background-size: 80vw;
  }
}

.main {
  margin-top: 40px;
  margin-bottom: 10px;
  border: solid 1px #3A3B3B;
  padding: 40px;
  background-color: #28193d;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgb(22, 22, 22);
  width: 385px;
}

.btn {
  color: #10091d;
  font-family: internet_friends;
  align-items: center;
  text-align: center;
  font-size: 30px;
  width: 80px;
  height: 70px;
  margin: 5px;
  background-color: #a189a1;
  border-radius: 15%;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.btn:hover {
  background-color: #4e4155;
}

.btn:active {
  background-color: #2f2341;
}

.mais {
  background-color: #b3a3ba;
}

.menos {
  background-color: #8d769a;
}

.multi {
  width: 40px;
  height: 70px;
  background-color: #68507b;
}

.barra {
  background-color: #46315c;
  width: 40px;
}

.clear {
  width: 170px;
  border-radius: 10px;
  background-color: #68507b;
}

.igual {
  height: 150px;
  width: 80px;
  border-radius: 10px;
  background-color: #8d769a;
}

.zero {
  width: 170px;
  border-radius: 10px;
}

.visor {
  width: 370px;
  text-align: right;
  font-size: 50px;
  font-family: internet_friends;
  color: #10091d;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #a59ca5;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000;
}


.delete {
  color: #10091d;
  font-family: internet_friends;
  font-size: 30px;
  width: 80px;
  height: 70px;
  margin: 5px;
  background-color: #a189a1;
  border-radius: 15%;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.delete:hover {
  background-color: #4e4155;
}

.delete:active {
  background-color: #2f2341;
}

.btn {
  color: #10091d;
  font-family: internet_friends;
  font-size: 30px;
  width: 80px;
  height: 70px;
  margin: 5px;
  background-color: #a189a1;
  border-radius: 15%;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.btn:hover {
  background-color: #4e4155;
}

.btn:active {
  background-color: #2f2341;
}

.delete {
  color: #10091d;
  font-family: internet_friends;
  font-size: 30px;
  width: 80px;
  height: 70px;
  margin: 5px;
  background-color: #68507b;
  border-radius: 15%;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.delete:hover, #equal:hover, #zero:hover {
  background-color: #4e4155;
}

.delete:active, #equal:active, #zero:active {
  background-color: #2f2341;
}

.clear {
  width: 115px; 
  border-radius: 10px;
  background-color: #46315c;
}

.multi {
  width: 70px;
  height: 70px;
  background-color: #68507b;
}

.barra {
  background-color: #46315c;
  width: 70px;
}
.row {
  text-align: center;
  display: flex;
  flex-direction: row;
}

#equal {
  height: 150px;
  border-radius: 10px;
  background-color: #68507b;
}

#zero {
  width: 150px;
  border-radius: 10px;
  background-color: #46315c;
}

#dot {
  width: 113px;
  border-radius: 10px;
  background-color: #7b5f92;
}

#add {
  background-color: #7b5f92;
  width: 95px;
  border-radius: 10px;
}

#sub {
  background-color: #46315c;
  width: 95px;
  border-radius: 10px;
}
