body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(design.png);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/*
@media (min-width: 460px) {
  body {
    background-size: 110vw;
  }
}

@media (min-width: 1100px) {
  body {
    background-size: 100vw;
  }
}

@media (min-width: 1300px) {
  body {
    background-size: 90vw;
  }
}

@media (min-width: 1400px) {
  body {
    background-size: 80vw;
  }
}
*/
.main {
  margin-top: 40px;
  margin-bottom: 10px;
  border: solid 3px #0d0d0d;
  padding: 40px;
  background-color: #000;
  border-radius: 25px;
  width: 385px;
}

.btn {
  color: #7b5f92;
  font-family: internet_friends;
  align-items: center;
  text-align: center;
  font-size: 30px;
  width: 80px;
  height: 70px;
  margin: 5px;
  background-color: #0d0d0d;
  border-radius: 15%;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.btn:hover {
  background-color: #131313;
}

.btn:active {
  background-color: #2f2341;
}

.mais {
  background-color: #0d0d0d;
}

.menos {
  background-color: #0d0d0d;
}

.multi {
  width: 40px;
  height: 70px;
  background-color: #0d0d0d;
}

.barra {
  background-color: #0d0d0d;
  width: 40px;
}

.clear {
  width: 170px;
  border-radius: 10px;
  background-color: #0d0d0d;
}

.igual {
  height: 150px;
  width: 80px;
  border-radius: 10px;
  background-color: #0d0d0d;
}

.zero {
  width: 170px;
  border-radius: 10px;
}

.visor {
  width: 370px;
  text-align: right;
  font-size: 50px;
  font-family: internet_friends;
  color: #7b5f92;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #131313;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000;
}


.delete {
  color: #10091d;
  font-family: internet_friends;
  font-size: 30px;
  width: 80px;
  height: 70px;
  margin: 5px;
  background-color: #a189a1;
  border-radius: 15%;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.delete:hover {
  background-color: #131313;
}

.delete:active {
  background-color: #0d0d0d;
}

.btn {
  color: #7b5f92;
  font-family: internet_friends;
  font-size: 30px;
  width: 80px;
  height: 70px;
  margin: 5px;
  background-color: #0d0d0d;
  border-radius: 15%;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.btn:hover {
  background-color: #272727;
}

.btn:active {
  background-color: #494949;
}

.delete {
  color: #7b5f92;
  font-family: internet_friends;
  font-size: 30px;
  width: 80px;
  height: 70px;
  margin: 5px;
  background-color: #2f2f2f;
  border-radius: 15%;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.delete:hover, #equal:hover, #zero:hover, #add:hover, #sub:hover, #dot:hover {
  background-color: #131313;
}

.delete:active, #equal:active, #zero:active {
  background-color: #494949;
}

.clear {
  width: 115px; 
  border-radius: 10px;
  background-color: #2f2f2f;
}

.multi {
  width: 70px;
  height: 70px;
  background-color: #2f2341;
}

.barra {
  background-color: #2f2341;
  width: 70px;
}
.row {
  text-align: center;
  display: flex;
  flex-direction: row;
}

#equal {
  height: 150px;
  border-radius: 10px;
  background-color: #3f3568;
}

#zero {
  width: 150px;
  border-radius: 10px;
  background-color: #0d0d0d;
}

#dot {
  width: 113px;
  border-radius: 10px;
  background-color: #2f2f2f;
}

#add {
  background-color: #2f2341;
  width: 95px;
  border-radius: 10px;
}

#sub {
  background-color: #2f2341;
  width: 95px;
  border-radius: 10px;
}
